<div style="margin:auto; margin-top:60px">
    <h5>당첨번호가 696회차 당첨번호와 일치하면 16,320,544,130원을 드립니다</h5>
    <input type="button" value="1000원 지불 to 신한은행 110-397-525230 이종원" onClick="window.location.reload()">

    <h3>당첨번호</h3>
        <div>
            <table style="font-size:15px">
                
                <tr>
                    <td><%= image_tag @first %></td>
                    <td><%= image_tag @second %></td>
                    <td><%= image_tag @third %></td>
                    <td><%= image_tag @fourth %></td>
                    <td><%= image_tag @fifth %></td>
                    <td><%= image_tag @sixth %></td>
                
                    <td>+ 보너스번호</td>
                    <td><%= image_tag @seventh %></td>
                </tr>
            </table>
    <h3><span style="font-color:red">696회차</span> 당첨번호 2016.04.02</h3>
            <table style="font-size:15px">
                <tr>
                    <td><%= image_tag @a %></td>
                    <td><%= image_tag @b %></td>
                    <td><%= image_tag @c %></td>
                    <td><%= image_tag @d %></td>
                    <td><%= image_tag @e %></td>
                    <td><%= image_tag @f %></td>
                
                    <td>+ 보너스번호</td>
                    <td><%= image_tag @g %></td>
                </tr>
            </table>

        </div>
</div>

